.chat {
  display: flex;
  flex-direction: column;
  flex: 0.65;
}
.chat_header {
  display: flex;
  padding: 20px;
  align-items: center;
  border-bottom: 1px solid lightgrey;
}
.chat_headerInfo {
  flex: 1;
  padding-left: 20px;
}

.chat_headerInfo > h3 {
  margin-bottom: 3px;
  font-weight: 500;
}
.chat_headerInfo > p {
  color: grey;
}
.chat_body {
  flex: 1;
  background-color: #263238;
  background-repeat: repeat;
  background-position: center;
  overflow: scroll;
  padding: 30px;
}
.chat_message {
  position: relative;
  font-size: 16px;
  padding: 10px;
  width: fit-content;
  border-radius: 10px;
  background-color: #ffffff;
  margin-bottom: 30px;
}
.chat_timestamp {
  margin-left: 10px;
  font-size: xx-small;
}
.chat_receiver {
  margin-left: auto;
  background-color: #dcf8c6;
}
.chat_name {
  position: absolute;
  top: -15px;
  font-weight: 800;
  font-size: xx-small;
}

.chat_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
  border-top: 1px solid lightgray;
}
.chat_footer > form {
  flex: 1;
  display: flex;
}
.chat_footer > form > input {
  flex: 1;
  border-radius: 30px;
  padding: 10px;
  border: none;
}
.chat_footer > form > button {
  display: none;
}
.chat_footer > .MuiSvgIcon-root {
  padding: 10px;
  color: gray;
}
