#message {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 48px;
  letter-spacing: 2.6px;
  word-spacing: 2.4px;
  color: #6c2d18;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;
  z-index: 3;
  width: 600px;
  height: 400px;
  margin-left: 700px;

  padding: 20px;
}

#main_body {
  position: absolute;
  overflow-y: auto;
  height: 100vh;
  padding: 16px;
  z-index: 1;
  margin-top: 150px;
  background-color: #f7f7f7;
  width: 100%;
  /* background-image: url("imgs/man4.jpg"); */
  background-size: 600px 520px;
  background-repeat: no-repeat;
}

#logoimg {
  position: fixed;
  top: 0px;
  height: 130px;
  width: 200px;
  float: left;
  z-index: 2;
}

#footer {
  position: absolute;
  height: 100px;
  bottom: 0px;
  width: 100%;
  background-color: white;
  border-top: solid 1px black;
  z-index: 2;
}

#navbar {
  position: absolute;
  overflow-y: auto;
  border-bottom: solid 1px black;
  height: 100px;
  top: 0px;
  width: 100%;
  z-index: 2;
}

#footbtn {
  top: 0px;
  margin-bottom: 20px;
  font-size: large;
  background-color: transparent;
  padding: 20px;
  margin-top: 1px;
  border: transparent solid 1px;
  z-index: 2;
}

#navbarbtn {
  top: 0px;
  float: right;
  font-size: large;
  background-color: transparent;
  padding: 20px;
  margin-bottom: 20px;
  border: transparent solid 1px;
  z-index: 2;
}

#navbarbtn:hover,
#footbtn:hover {
  border: 1px black solid;

  font-size: large;
  background-color: transparent;
  padding: 20px;

  z-index: 2;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: larger;
  padding: 50px;
}

li {
  padding: 20px;
  display: inline;
}
